<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>

  {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
  {{ else }}
    <meta name="description" content="The LASA Surveyor collects surveys about the LASA High School student body. You can find the latest survey and blog posts with our analyses of previous surveys.">
  {{ end }}

  {{ if .Param "author" }}
    <meta name="author" content='{{ .Param "author" }}'>
  {{ end }}

  {{ block "metadata" . }}
  {{ end }}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  {{ block "styles" . }}
    {{ $style := resources.Get "css/main.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ end }}
</head>
<body>

<header>
  {{ block "header" . }}
  <nav>
    <ul>
      {{- range site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{- end }}
    </ul>
  </nav>
  {{ end }}
</header>

<main>
  {{ block "main" . }}
  {{ end }}
</main>

<footer>
  {{ block "footer" . }}
  <p>
    Made with <span role="img" aria-label="love" title="love">♥️</span> by the LASA Surveyor.
    Analyses are copyright LASA Surveyor 2024 and are licensed under
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank">CC BY-NC-SA 4.0</a>.
  </p>
  {{ end }}
</footer>

</body>
</html>
