{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "styles" }}
{{ $style := resources.Get "css/list.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<div id="content-container">
  <h1>{{ .Title }}</h1>

  <ul id="cards">
    {{ range .Pages }}
      <li class="card">
        <article>
          <h2><a href="{{ .Permalink }}" class="main-link">{{ .Title }}</a></h2>
          <p class="date">{{ .Date | time.Format ":date_medium" }}</p>
          <p>{{ .Content | plainify | truncate 200 }}</p>
        </article>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
