{{ define "styles" }}
{{ $style := resources.Get "css/home.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<div id="title-container">
  <div>
    <h1 id="title">LASA Surveyor</h1>
    <p id="subtitle">Your reliable source of information on the LASA student population.</p>
  </div>
  <div>
    <img id="seal" src="/img/seal.png" alt="The circular LASA Surveyor Seal with a navy blue, grey, and white raptor in the middle.">
  </div>
</div>
<div id="content-container">
  {{ .Content }}
</div>
{{ end }}
