
<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-50 uppercase bg-blue-500 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Member
                </th>
                <th scope="col" class="px-6 py-3">
                    Contact
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Mr. Word (Sponsor)
                </th>
                <td class="px-6 py-4">
                    thomas.word@austinisd.org
                </td>
            </tr>
            <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Naman Mishra (President)
                </th>
                <td class="px-6 py-4">
                    naman@lasasurveyor.com
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Rachit Kakkar (Officer)
                </th>
                <td class="px-6 py-4">
                    rachit@lasasurveyor.com
                </td>
            </tr>
            <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Max Bentley (Officer)
                </th>
                <td class="px-6 py-4">
                    max@lasasurveyor.com
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Mikah Muhaisen (Officer)
                </th>
                <td class="px-6 py-4">
                    mikah@lasasurveyor.com
                </td>
            </tr>
        </tbody>
    </table>
</div>